@model List<BlogForest.DtoLayer.IssueDto.ResultIssueDto>
@{
    ViewData["Title"] = "Sorun Listesi";
    Layout = "~/Views/Layout/_WriterLayout.cshtml";
}

<div class="col-xl-12 col-lg-7 mb-4">
    <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Bekleyen Sorunlar</h6>
            <a class="m-0 float-right btn btn-danger btn-sm" href="/Writer/Blog/MyBlogs">
                Çözülen Sorunlar <i class="fas fa-chevron-right"></i>
            </a>
        </div>
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr>
                        <th>Sorun Başlık</th>
                        <th>Tarih</th>
                        <th>Durum</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.CreatedAt.ToString("dd.MM.yyyy")</td>
                            <td>@if(item.IsResolved==true)
                                {
                                    <span class="badge badge-success">Yanıtlandı</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">Beklemede</span>
                                }
                                
                                
                                
                            </td>
                            <td>
                                <a href="/Writer/Issue/IssueDetail/@item.IssueId" class="btn btn-sm btn-primary">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
        <div class="card-footer"></div>
    </div>
</div>

