<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/ruang-admin/img/logo/logo.png" rel="icon">
    <title>Blog Yazar Paneli </title>
    <link href="~/ruang-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/ruang-admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/ruang-admin/css/ruang-admin.min.css" rel="stylesheet">
    <link href="~/ruang-admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>



