<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <img src="~/ruang-admin/img/logo/logo2.png" style="background-color:white;"/>

        </div>
        <div class="sidebar-brand-text mx-3">Yazar Paneli</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" href="/Writer/Dashboard/Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>İstatistik</span>
        </a>
    </li>
    <hr class="sidebar-divider" />
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
           aria-expanded="true" aria-controls="collapseBootstrap">
            <i class="far fa-fw fa-window-maximize"></i>
            <span>Blog İşlemleri</span>
        </a>
        <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">

            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Blog İşlemleri</h6>
                <a class="collapse-item" href="/Writer/Blog/MyBlogs">Bloglarım</a>
                <a class="collapse-item" href="/Writer/Blog/CreateMyBlog">Yeni Blog</a>

            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm" aria-expanded="true"
           aria-controls="collapseForm">
            <i class="fab fa-fw fa-wpforms"></i>
            <span>Sorun Yönetimi</span>
        </a>
        <div id="collapseForm" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Sorun Yönetimi</h6>
                <a class="collapse-item" href="/Writer/Issue/IssueList">Sorun Listesi</a>
                <a class="collapse-item" href="/Writer/Issue/CreateIssue">Sorun Bildir</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Writer/Comments/CommentsList">
            <i class="fas fa-fw fa-comments"></i>
            <span>Yorum Yönetimi</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="ui-colors.html">
            <i class="fas fa-fw fa-palette"></i>
            <span>UI Colors</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#adminMenu" aria-expanded="true"
               aria-controls="adminMenu">
                <i class="fa-solid fa-gear"></i>
                <span>Admin İşlemleri</span>
            </a>
            <div id="adminMenu" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Admin İşlemleri</h6>
                    <a class="collapse-item" href="/Admin/Role/CreateUser">Yeni Kullanıcı</a>
                    <a class="collapse-item" href="/Admin/Role/UserList">Kullanıcı Listesi</a>
                    <a class="collapse-item" href="/Admin/Role/RoleList">Role Listesi</a>
                    <a class="collapse-item" href="/Admin/Comments/CommentsList">Yorum Yönetimi</a>
                    <a class="collapse-item" href="/Admin/Category/CategoryList">Kategori Yönetimi</a>
                    <a class="collapse-item" href="/Admin/Issue/IssueList">Sorun Yönetimi</a>
                </div>
            </div>
        </li>
    }


    <li class="nav-item">
        <a class="nav-link" href="/Writer/Login/LogOut">
            <i class="fas fa-sign-out-alt"></i>
            <span>Çıkış</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <div class="version" id="version-ruangadmin"></div>
</ul>