@model List<Blog>

<div class="widget">
    <h2 class="widget-title">Yeni Bloglar</h2>
    <div class="blog-list-widget">
        <div class="list-group">
            @foreach (var item in Model)
            {
                <a href="/Blog/BlogDetail/@item.BlogId" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="w-100 justify-content-between">
                        <img src="@item.ThumbnailImageUrl" alt="" class="img-fluid float-left">
                        <h5 class="mb-1">@item.Title</h5>
                        <small>@item.CreatedDate.ToString("dd MMM, yyyy")</small>
                    </div>
                </a>
            }
        </div>
    </div><!-- end blog-list -->
</div><!-- end widget -->