
<div class="widget">
    <h2 class="widget-title">Kategoriler</h2>
    <div class="link-widget">
        <ul>
            <li><a href="#">Gardening <span>(21)</span></a></li>
            <li><a href="#">Outdoor Living <span>(15)</span></a></li>
            <li><a href="#">Indoor Living <span>(31)</span></a></li>
            <li><a href="#">Shopping Guides <span>(22)</span></a></li>
            <li><a href="#">Pool Design <span>(66)</span></a></li>
        </ul>
    </div><!-- end link-widget -->
</div><!-- end widget -->