@model List<CategoryBlogCountDto>
<div class="widget">
    <h2 class="widget-title">Kategoriler</h2>
    <div class="link-widget">
        <ul>
            @foreach(var item in Model)
            {
                <li><a href="#">@item.CategoryName <span>(@item.BlogCount)</span></a></li>
            }

            
            
        </ul>
    </div><!-- end link-widget -->
</div><!-- end widget -->