@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<header class="bg-dark text-white text-center">
    <p class="lead">Antik Kentleri Keşfetme Tutkusu</p>
</header>

<main class="container d-flex align-items-center" >
    <div class="row w-100 align-items-center">
        <div class="col-md-4 text-center">
            <img src="~/uploads/efes-antik-kenti.jpg" alt="Emre Keskiner" class="img-fluid shadow-lg rounded">
        </div>
        <div class="col-md-8">
            <p class="fs-5">Manisa / Salihli'de yaşayan, özel bir hastanede IT Yöneticisi olarak çalışan bir yazılımcıyım. Teknoloji dışındaki en büyük tutkum, antik tarihi keşfetmek ve antik kentleri gezmektir. Bu blog, geçmişin harikalarına yaptığım yolculukların hikayelerini ve fotoğraflarını paylaşmak için oluşturuldu.</p>
            <p class="fs-5">Antik medeniyetlerin yaşam tarzlarını ve kültürlerini keşfetmek, beni geçmişin gizemli dünyasına bağlayan en büyük motivasyonlardan biri. Antik kentlerdeki sokakları adımlarken, binlerce yıl öncesine ait yaşamların izlerini hayal ediyorum. Tapınaklar, agoralar, tiyatrolar ve mozaiklerle kaplı yollar bana medeniyetlerin ne kadar güçlü ve yaratıcı olduğunu hatırlatıyor.</p>
            <p class="fs-5">Tarih boyunca insanlar, doğanın ve teknolojinin sınırlarını zorlayarak benzersiz eserler ortaya koymuşlardır. Bu eserler, medeniyetlerin yaşam tarzlarını, günlük ritüellerini ve hayata bakış açılarını yansıtan en önemli kanıtlardır. Her ziyaretimde, o dönemin insanlarının hayallerine, inançlarına ve mücadelelerine tanıklık ettiğimi hissediyorum.</p>
            <p class="fs-5">Antik kentlere olan ilgimi ve tarihsel keşiflerimi bu blogda sizlerle paylaşarak, geçmişi daha yakından tanımanızı ve bu kültür hazinelerini birlikte keşfetmemizi umuyorum.</p>
            <a asp-controller="Default" asp-action="Contact" class="btn btn-primary mt-3"><i class="fas fa-envelope"></i> İletişime Geçin</a>
        </div>
    </div>
</main>

