
@{
  Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

                <div class="row">
                    @await Component.InvokeAsync("_BlogListComponentPartial")
                   

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            @await Component.InvokeAsync("_SearchComponentPartial")
                            @await Component.InvokeAsync("_RecentPostComponentPartial")
                            @await Component.InvokeAsync("_NumberOfBlogsByCategoryComponentPartial")
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
           