@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadComponentPartial")
<body>

    <div id="wrapper">

        @await Component.InvokeAsync("_TopbarComponentPartial")

        @await Component.InvokeAsync("_NavbarComponentPartial")

        <section class="section wb">
            <div class="container">
               @RenderBody()
            </div><!-- end container -->
        </section>

        @await Component.InvokeAsync("_FooterComponentPartial")

    </div><!-- end wrapper -->
    <!-- Core JavaScript
    ================================================== -->
    <script src="~/forest-time/js/jquery.min.js"></script>
    <script src="~/forest-time/js/tether.min.js"></script>
    <script src="~/forest-time/js/bootstrap.min.js"></script>
    <script src="~/forest-time/js/custom.js"></script>

</body>
</html>
